In [4]:
import pandas as pd
import numpy as np

In [5]:
pd1 = pd.read_csv('35_trials.csv')
pd2 = pd.read_csv('21_trials.csv')
pd3 = pd.read_csv('35_trials2.csv')
pd4 = pd.read_csv('21_trials2.csv')

In [6]:
merged_df = pd.concat([pd1, pd2, pd3, pd4], ignore_index = True)
merged_df

,absent,id,name,size,letter_1,letter_2,letter_3,letter_4,letter_5,letter_6,...,y_26,y_27,y_28,y_29,y_30,y_31,y_32,y_33,y_34,y_35
0,False,1,35_present_1.jpg,35,O,Q,Q,Q,Q,Q,...,211.484254,834.570371,1009.015089,89.377275,1088.675894,596.293001,67.346286,989.125762,208.387314,155.036509
1,True,1,35_absent_1.jpg,35,Q,Q,Q,Q,Q,Q,...,853.540155,145.670645,41.558629,124.225747,245.250249,469.156545,1209.225989,642.613459,809.284186,542.304712
2,False,2,35_present_2.jpg,35,O,Q,Q,Q,Q,Q,...,1173.521059,264.510291,984.046042,550.036398,840.685330,1075.082945,793.949822,725.125077,106.318049,1177.872672
3,True,2,35_absent_2.jpg,35,Q,Q,Q,Q,Q,Q,...,503.803913,747.544560,592.016417,681.843514,351.358540,1196.394797,313.952145,437.873887,754.662475,433.148770
4,False,3,35_present_3.jpg,35,O,Q,Q,Q,Q,Q,...,196.326262,198.088083,713.695788,1048.768946,321.743475,34.745890,528.776559,991.895004,264.280391,644.894751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,True,34,21_absent_70.jpg,21,Q,Q,Q,Q,Q,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,False,35,21_present_71.jpg,21,O,Q,Q,Q,Q,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,True,35,21_absent_71.jpg,21,Q,Q,Q,Q,Q,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,False,36,21_present_72.jpg,21,O,Q,Q,Q,Q,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287,True,36,21_absent_72.jpg,21,Q,Q,Q,Q,Q,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
merged_df.to_csv('trials.csv', index=False)

In [8]:
pd = pd.read_csv('trials.csv')

In [9]:
# these are the rotations we need to fill in with 0s
pd.iloc[:, 39:74] = pd.iloc[:, 39:74].fillna(0)

In [10]:
pd.iloc[:, 39:74]

,rotation_1,rotation_2,rotation_3,rotation_4,rotation_5,rotation_6,rotation_7,rotation_8,rotation_9,rotation_10,...,rotation_26,rotation_27,rotation_28,rotation_29,rotation_30,rotation_31,rotation_32,rotation_33,rotation_34,rotation_35
0,0.0,270.0,0.0,90.0,90.0,0.0,180.0,90.0,180.0,180.0,...,90.0,180.0,180.0,0.0,180.0,90.0,270.0,90.0,90.0,0.0
1,90.0,180.0,180.0,180.0,180.0,90.0,90.0,180.0,90.0,270.0,...,180.0,0.0,180.0,0.0,180.0,180.0,90.0,0.0,0.0,0.0
2,90.0,270.0,180.0,270.0,270.0,90.0,90.0,180.0,270.0,90.0,...,90.0,0.0,90.0,90.0,270.0,90.0,90.0,180.0,180.0,270.0
3,180.0,270.0,90.0,90.0,90.0,270.0,180.0,180.0,270.0,270.0,...,180.0,270.0,0.0,0.0,90.0,180.0,270.0,0.0,0.0,270.0
4,180.0,270.0,0.0,180.0,270.0,90.0,180.0,270.0,0.0,180.0,...,270.0,90.0,270.0,180.0,0.0,90.0,180.0,180.0,270.0,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,270.0,180.0,0.0,180.0,0.0,90.0,0.0,180.0,0.0,90.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
284,0.0,0.0,180.0,0.0,270.0,270.0,270.0,0.0,270.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285,180.0,90.0,180.0,180.0,180.0,180.0,270.0,270.0,270.0,90.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
286,90.0,270.0,270.0,180.0,180.0,270.0,90.0,180.0,90.0,180.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
287,0.0,270.0,90.0,180.0,0.0,90.0,270.0,270.0,90.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
pd['name']

0       35_present_1.jpg
1        35_absent_1.jpg
2       35_present_2.jpg
3        35_absent_2.jpg
4       35_present_3.jpg
             ...
283     21_absent_70.jpg
284    21_present_71.jpg
285     21_absent_71.jpg
286    21_present_72.jpg
287     21_absent_72.jpg
Name: name, Length: 288, dtype: object

In [16]:
pd.describe()

,id,size,rotation_1,rotation_2,rotation_3,rotation_4,rotation_5,rotation_6,rotation_7,rotation_8,...,y_26,y_27,y_28,y_29,y_30,y_31,y_32,y_33,y_34,y_35
count,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,...,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000
mean,18.500000,28.000000,132.812500,135.937500,129.375000,143.750000,130.937500,132.812500,133.750000,131.250000,...,633.384802,631.059462,584.703682,655.491666,667.841366,637.830359,614.819803,579.038817,605.617011,594.428542
std,10.406377,7.012185,97.645128,103.828237,99.228514,99.852679,100.154008,102.440973,101.627008,102.670781,...,359.535425,338.310820,341.161208,362.956529,373.747941,359.007701,350.573124,341.495637,367.922452,344.436193
min,1.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,31.695158,31.215363,32.817552,34.848121,36.822724,34.445333,48.446081,30.578454,48.958952,31.386717
25%,9.750000,21.000000,90.000000,0.000000,0.000000,90.000000,0.000000,0.000000,0.000000,0.000000,...,350.245000,343.419745,302.262731,331.632928,322.655993,340.380596,314.545877,291.218446,254.729224,285.377535
50%,18.500000,28.000000,135.000000,90.000000,90.000000,180.000000,90.000000,180.000000,90.000000,90.000000,...,585.093332,656.766892,576.235288,650.274192,693.193968,650.668027,582.521027,593.849087,614.919547,546.782768
75%,27.250000,35.000000,180.000000,270.000000,180.000000,270.000000,180.000000,180.000000,270.000000,180.000000,...,979.575340,888.669470,854.766586,1020.890012,1008.610705,963.144589,876.795730,834.331524,899.519041,924.804151
max,36.000000,35.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,...,1219.165453,1218.107693,1211.967330,1215.423204,1215.154964,1215.122545,1210.028314,1205.642355,1212.018930,1214.621498