In [11]:
import pandas as pd
import numpy as np

In [12]:
pd1 = pd.read_csv('35_trials.csv')
pd2 = pd.read_csv('21_trials.csv')

In [13]:
merged_df = pd.concat([pd1, pd2], ignore_index = True)
merged_df

,absent,id,name,size,letter_1,letter_2,letter_3,letter_4,letter_5,letter_6,...,y_26,y_27,y_28,y_29,y_30,y_31,y_32,y_33,y_34,y_35
0,False,1,35_present_1.jpg,35,O,Q,Q,Q,Q,Q,...,211.484254,834.570371,1009.015089,89.377275,1088.675894,596.293001,67.346286,989.125762,208.387314,155.036509
1,True,1,35_absent_1.jpg,35,Q,Q,Q,Q,Q,Q,...,853.540155,145.670645,41.558629,124.225747,245.250249,469.156545,1209.225989,642.613459,809.284186,542.304712
2,False,2,35_present_2.jpg,35,O,Q,Q,Q,Q,Q,...,1173.521059,264.510291,984.046042,550.036398,840.685330,1075.082945,793.949822,725.125077,106.318049,1177.872672
3,True,2,35_absent_2.jpg,35,Q,Q,Q,Q,Q,Q,...,503.803913,747.544560,592.016417,681.843514,351.358540,1196.394797,313.952145,437.873887,754.662475,433.148770
4,False,3,35_present_3.jpg,35,O,Q,Q,Q,Q,Q,...,196.326262,198.088083,713.695788,1048.768946,321.743475,34.745890,528.776559,991.895004,264.280391,644.894751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,True,34,21_absent_34.jpg,21,Q,Q,Q,Q,Q,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,False,35,21_present_35.jpg,21,O,Q,Q,Q,Q,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,True,35,21_absent_35.jpg,21,Q,Q,Q,Q,Q,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,False,36,21_present_36.jpg,21,O,Q,Q,Q,Q,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,True,36,21_absent_36.jpg,21,Q,Q,Q,Q,Q,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
merged_df.to_csv('trials.csv', index=False)